<nb-layout>
  <nb-layout-column>
    <nb-card status="danger">
      <nb-card-header> Edit Form </nb-card-header>

      <nb-card-body>
        <form *ngIf="currentItem">
          <div class="form-group row">
            <label for="inputEmail1" class="label col-sm-3 col-form-label"
              >Title</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                fullWidth
                id="input-title"
                placeholder="title"
                name="title"
                [(ngModel)]="currentItem.title"
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 label">Nội dung</label>
            <div class="col-sm-9">
              <textarea #textEditor01 [value]="currentItem.content"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button
                type="button"
                (click)="saveEdit()"
                nbButton
                status="warning"
              >
                Lưu
              </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
    <section class="another-action" aria-label="Back">
      <a class="text-link" routerLink="../list">Quay lại danh sách nếu </a> muốn
      cập nhật các thông tin khác.
    </section>
  </nb-layout-column>
</nb-layout>
